*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    background-color: lightblue;
}
header h1{
    font-size: 15px;
    position: absolute;
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    max-width: 200px;
}
nav{
    position: absolute;
    margin: 15px 0 0 270px;
    display: none;
}
nav a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
}
nav a:hover{
    background-color: darkblue;
    height: 40px;
    padding: 10px;
}
.bars{
    background-color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 5px 0 0 370px;
}
.search-container{
    height: 80px;
    width: 100%;
}
.search-bar{
    position: absolute;
    margin: 10px 0 0 10px;
}
.search-bar input{
    height: 30px;
    width: 150px;
    background-color: gainsboro;
    border: none;
    padding-left: 5px;
}
#search-btn{
    height: 30px;
    padding: 5px;
    border: none;
    background-color: lightblue;
}
.shop-box{
    position: absolute;
    margin: 5px 0 0 230px;
}
.cart{
    position: absolute;
}
.cart span{
    background-color: black;
    height: 40px;
    width: 50px;
    position: absolute;
    margin: 0 0 0 130px;
}
.dropdown-btns{
    position: absolute;
    margin: 60px 0 0 15px;
    display: inline-flex;
}
.category h2{
    font-size: 12px;
    text-transform: capitalize;
}
.category h2:hover{
    cursor:pointer;
}
.category-content{
    background-color: aliceblue;
    padding: 3px;
    display: none;
}
.category-content a{
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    width: 120px;
}
.category-content a:hover{
    background-color: grey;
    color: #fff;
    height: 20px;
    width: 100%;
}
.category:hover .category-content{
    display: block;
}
.condition h2{
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 20px;
}
.condition h2{
    cursor: pointer;
}
.condition-content{
    background-color: aliceblue;
    padding: 3px;
    display: none;
}
.condition-content a{
    display: block;
    padding: 5px;
    text-transform: capitalize;
    text-decoration: none;
}
.condition-content a:hover{
    background-color: grey;
    color: #fff;
    height: 20px;
    width: 100%;
}
.condition:hover .condition-content{
    display: block;
}
.offer-link{
    margin: 59px 0 0 230px;
    position: absolute;
}
#submit-btn{
    background-color: #fff;
    border: none;
    text-transform: capitalize;
    margin-left: 30px;
}
.container{
    height: 300px;
    width: 100%;
    background-image: url(index-images/container\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.delivery-container{
    height: 30px;
    width: 100%;
    background-color: red;
    align-content: center;
    justify-items: center;
}
.delivery-container p{
    color: #fff;
    font-size: 12px;
}
.offer-container{
    height: 750px;
    width: 100%;
    border-top: 5px solid lightblue;
}
.offer-container h1{
    color: red;
    margin-left: 150px;
    background-color: lightblue;
    height: 40px;
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.offer-boxes{
    margin-top: 10px;
}
.b-o1{
    position: absolute;
    height: 200px;
    width: 180px;
    margin-left: 10px;
    background-image: url(index-images/ace.jpg);
    background-position: center;
    background-size: cover;
}
.b-o2{
    position: absolute;
    height: 200px;
    width: 180px;
    margin-left: 220px;
    background-image: url(index-images/betamethasone-cream-500x500.webp);
    background-position: center;
    background-size: cover;
}
.b-o3{
    position: absolute;
    height: 200px;
    width: 180px;
    margin: 350px 0 0 10px;
    background-image: url(index-images/prom.jpeg);
    background-size: cover;
    background-position: center;
}
.b-o4{
    position: absolute;
    height: 200px;
    width: 180px;
    margin: 350px 0 0 220px;
    background-image: url(index-images/castor.jpeg);
    background-position: center;
    background-size: cover;
}
.b-o1_btns{
    position: absolute;
    margin: 300px 0 0 10px;
}
#addbtn1{
    height: 30px;
    width: 80px;
}
#viewbtn1{
    height: 30px;
    width: 80px;
}
.b-o2_btns{
    position: absolute;
    margin: 300px 0 0 220px;
}
#addbtn2{
    height: 30px;
    width: 80px;
}
#viewbtn2{
    height: 30px;
    width: 80px;
}
.b-o3_btns{
    position: absolute;
    margin: 620px 0 0 10px;
}
#addbtn3{
    height: 30px;
    width: 80px;
}
#viewbtn3{
    height: 30px;
    width: 80px;
}
.b-o4_btns{
    position: absolute;
    margin: 620px 0 0 220px;
}
#addbtn4{
    height: 30px;
    width: 80px;
}
#viewbtn4{
    height: 30px;
    width: 80px;
}
.info-container{
    height: 500px;
    width: 100%;
    background-color: darkblue;
}
.info-container img{
    height: 300px;
    position: absolute;
    margin: 5px 0 0 5px;
}
.info-container h4{
    color: orange;
    margin: 320px 0 0 20px;
    position: absolute;
    font-size: 20px;
}
.info-container p{
    color: #fff;
    position: absolute;
    margin: 370px 0 0 20px;
    text-transform: capitalize;
    font-size: 12px;
    max-width: 300px;
}
#aboutbtn{
    position: absolute;
    margin: 420px 0 0 50px;
    height: 40px;
    width: 130px;
    font-size: 20px;
    text-transform: capitalize;
}
.service-container{
    height: 570px;
    width: 100%;
    border-top: 5px solid lightblue;
}
.service-container h2{
    background-color: lightblue;
    color: red;
    text-transform: uppercase;
    height: 30px;
    width: 200px;
    margin-left: 20px;
    padding-left: 10px;
}
.service-boxes{
    display: block;
}
.s-box1{
    background-image: url(index-images/sb1.jpeg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 200px;
    margin: 20px;
    border-radius: 8px;
    position: absolute;
}
.s-box2{
    background-image: url(index-images/sb2.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 200px;
    margin: 180px 0 0 20px;
    border-radius: 8px;
    position: absolute;
}
.s-box3{
    background-image: url(index-images/sb3.jpeg);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 200px;
    margin: 170px 0 0 20px;
    border-radius: 8px;
    position: absolute;
}
.sb1-info{
    position: absolute;
    margin: 20px 0 0 230px;
}
.sb1-info h3{
    text-transform: capitalize;
}
.sb1-info p{
    margin-top: 10px;
    font-size: 12px;
}
.sba1{
    position: absolute;
    margin: 10px 0 0 0;
    background-color: grey;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.s-box2{
    margin-top: 200px;
}
.sb2-info{
    position: absolute;
    margin: 200px 0 0 230px;
}
.sb2-info h3{
    text-transform: capitalize;
}
.sb2-info p{
    margin-top: 10px;
    font-size: 12px;
}
.sba2{
    margin-top: 10px;
    color: #fff;
    background-color: grey;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
}
.s-box3{
    margin-top: 380px;
}
.sb3-info{
    position: absolute;
    margin: 380px 0 0 230px;
}
.sb3-info h3{
    text-transform: capitalize;
}
.sb3-info p{
    font-size: 12px;
    margin-top: 10px;
}
.sba3{
    color: #fff;
    background-color: grey;
    margin-top: 10px;
    position: absolute;
    text-decoration: none;
    text-transform: capitalize;
}
.sales-container{
    height: 800px;
    width: 100%;
}
.sale-boxes{
    position: absolute;
}
.sale-box1{
    height: 300px;
    width: 400px;
    background-image: url(index-images/salebox1.webp);
    background-size: cover;
    background-position: center;
    margin: 10px 0 0 5px;
}
.sale-box2{
    height: 200px;
    width: 200px;
    background-image: url(index-images/salebox2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px 0 0 5px;
    position: absolute;
}
.sale-box3{
    height: 200px;
    width: 200px;
    background-image: url(index-images/salebox3.webp);
    background-size: cover;
    background-position: center;
    margin: 10px 0 0 210px;
}
.sale-box4{
    height: 260px;
    width: 410px;
    background-image: url(index-images/salebox4.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px 0 0 5px;
}
.simbi-container{
    height: 450px;
    width: 100%;
    background-color: darkblue;
}
.simbi-container h1{
    position: absolute;
    color: orange;
    text-transform: capitalize;
    margin: 20px 0 0 80px;
    font-size: 25px;
}
.simbi-container p{
    color: #fff;
    position: absolute;
    margin: 70px 0 0 30px;
    font-size: 15px;
    max-width: 350px;
    text-align: center;
}
.simbi-container a{
    color: #fff;
    position: absolute;
    margin: 370px 0 0 150px;
}
.testimonials{
    height: 300px;
    width: 100%;
    background-color: beige;
}
.testimonials h2{
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    max-width: 300px;
    text-align: center;
    margin: 20px 0 0 50px;
}
.test-cr{
    position: absolute;
    margin: 80px 0 0 40px;
    display: inline-flex;
}
.cr1{
    height: 100px;
    width: 100px;
    background-image: url(index-images/test1.jpeg);
    background-position: top;
    background-size: cover;
    border-radius: 50%;
}
.cr2{
    height: 100px;
    width: 100px;
    background-image: url(index-images/test2.jpeg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 15px;
}
.cr3{
    height: 100px;
    width: 100px;
    background-image: url(index-images/test3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 15px;
}
.test-cr p{
    position: absolute;
    margin: 120px 0 0 0;
    text-align: center;
}
footer{
    height: 450px;
    width: 100%;
    background-color: lightblue;
}
footer h1{
    font-size: 20px;
    position: absolute;
    margin: 10px 0 0 150px;
    color: #fff;
}
footer h4{
    text-transform: capitalize;
    position: absolute;
    margin: 20px 0 0 20px;
}
.icons{
    height: 150px;
    width: 100px;
    background-image: url(index-images/last.avif);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: 50px 0 0 20px;
}
.contact{
    position: absolute;
    margin: 230px 0 0 20px;
}
.contact h3{
    text-transform: capitalize;
    font-size: 13px;
    margin-left: 10px;
}
.contact p{
    font-size: 16px;
}
.footer-content{
    position: absolute;
    margin: 50px 0 0 150px;
}
.footer-content h2{
    font-size: 13px;
    text-transform: capitalize;
}
.footer-content a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    font-size: 12px;
    color: black;
}
.footer-content a:hover{
    color: orange;
    text-decoration: underline;
}
.footer-condition{
    position: absolute;
    margin: 50px 0 0 270px;
}
.footer-condition h2{
    text-transform: capitalize;
    font-size: 13px;
}
.footer-condition a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    display: block;
    padding: 5px;
    color: black;
}
.footer-condition a:hover{
    color: orange;
    text-decoration: underline;
}
@media (768px <= width <= 1223px){
    header{
        height: 70px;
        flex-direction: column;
    }
    header h1{
        font-size: 25px;
        max-width: 400px;
        margin: 20px 0 0 10px;
    }
    nav{
        display: inline-flex;
        margin: 20px 0 0 500px;
    }
    nav a{
        margin-left: 10px;
        color: #000;
        font-size: 20px;
    }
    nav a:hover{
        color: #fff;
    }
    .bars{
        display: none;
    }
    .search-container{
        height: 50px;
    }
    .search-bar{
        margin-left: 400px;
    }
    .shop-box{
        margin-left: 750px;
    }
    .dropdown-btns{
        margin-top: 10px;
    }
    .category h2{
        font-size: 20px;
    }
    .category h2:hover{
        cursor: pointer;
    }
    .category-content{
        height: 200px;
        width: 150px;
        background-color: aliceblue;
        color: #000;
    }
    .category-content a:hover{
        color: #fff;
        height: 40px;
        padding: 10px;
        font-size: 18px;
    }
    .category:hover .category-content{
        display: block;
    }
    .condition h2{
        font-size: 20px;
        margin-left: 30px;
    }
    .condition h2:hover{
        cursor: pointer;
    }
    .condition-content{
        width: 200px;
        margin-left: 30px;
        background-color: aliceblue;
    }
    .condition-content a:hover{
        height: 40px;
        color: #fff;
        padding: 10px;
        font-size: 18px;
    }
    .condition:hover .condition-content{
        display: block;
    }
    .offer-link{
        margin: 10px 0 0 600px;
    }
    #submit-btn{
        font-size: 20px;
    }
    .container{
        flex-direction: column;
        height: 500px;
    }
    .offer-container{
        flex-direction: column;
        height: 500px;
    }
    .offer-container h1{
        font-size: 25px;
        color: red;
        width: 130px;
        margin-left: 400px;
    }
    .offer-boxes{
        display: inline-flex;
    }
    .b-o1{
        height: 300px;
        margin-left: 20px;
    }
    .b-o1_btns{
        margin: 380px 0 0 20px;
    }
    #addbtn1{
        height: 40px;
        width: 100px;
        font-size: 15px;
        background-color: darkblue;
        color: #fff;
        border: none;
    }
    #viewbtn1{
        height: 40px;
        width: 100px;
        font-size: 15px;
        border: 2px solid darkblue;
        background-color: #fff;
    }
    .b-o2{
        height: 300px;
        margin-left: 250px;
    }
    .b-o2_btns{
        margin: 380px 0 0 250px;
    }
    #addbtn2{
        height: 40px;
        width: 100px;
        font-size: 15px;
        background-color: darkblue;
        color: #fff;
        border: none;
    }
    #viewbtn2{
        height: 40px;
        width: 100px;
        font-size: 15px;
        border: 2px solid darkblue;
        background-color: #fff;
    }
    .b-o3{
        margin: 10px 0 0 500px;
        height: 300px;
    }
    .b-o3_btns{
        margin: 380px 0 0 500px;
    }
    #addbtn3{
        height: 40px;
        width: 100px;
        font-size: 15px;
        background-color: darkblue;
        color: #fff;
        border: none;
    }
    #viewbtn3{
        height: 40px;
        width: 100px;
        font-size: 15px;
        border: 2px solid darkblue;
        background-color: #fff;
    }
    .b-o4{
        margin: 10px 0 0 730px;
        height: 300px;
    }
    .b-o4_btns{
        margin: 380px 0 0 730px;
    }
    #addbtn4{
        height: 40px;
        width: 100px;
        font-size: 15px;
        background-color: darkblue;
        color: #fff;
        border: none;
    }
    #viewbtn4{
        height: 40px;
        width: 100px;
        font-size: 15px;
        border: 2px solid darkblue;
        background-color: #fff;
    }
    .info-container{
        flex-direction: column;
    }
    .info-container img{
        height: 400px;
        margin: 40px 0 0 20px;
    }
    .info-container h4{
        font-size: 30px;
        margin: 50px 0 0 580px;
    }
    .info-container p{
        font-size: 25px;
        margin: 170px 0 0 580px;
    }
    #aboutbtn{
        margin: 320px 0 0 630px;
        height: 50px;
        width: 200px;
        font-size: 25px;
    }
    #aboutbtn:hover{
        cursor: pointer;
        background-color: darkblue;
        color: #fff;
        border: none;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .service-container{
        flex-direction: column;
        height: 1030px;
    }
    .service-container h2{
        font-size: 25px;
        width: 220px;
        margin-left: 30px;
        color: red;
    }
    .s-box1{
        height: 300px;
        width: 450px;
    }
    .sb1-info{
        margin: 20px 0 0 500px;
    }
    .sb1-info h3{
        font-size: 40px;
    }
    .sb1-info p{
        font-size: 25px;
    }
    .sb1-info a{
        font-size: 30px;
        margin-top: 40px;
    }
    .s-box2{
        height: 300px;
        width: 450px;
        margin-top: 350px;
    }
    .sb2-info{
        margin: 350px 0 0 500px;
    }
    .sb2-info h3{
        font-size: 40px;
    }
    .sb2-info p{
        font-size: 25px;
    }
    .sb2-info a{
        font-size: 30px;
        margin-top: 20px;
    }
    .s-box3{
        height: 300px;
        width: 450px;
        margin-top: 680px;
    }
    .sb3-info{
        margin: 680px 0 0 500px;
    }
    .sb3-info h3{
        font-size: 40px;
    }
    .sb3-info p{
        font-size: 25px;
    }
    .sb3-info a{
        font-size: 30px;
        margin-top: 20px;
    }
    .sales-container{
        height: 1470px;
    }
    .sale-box1{
        height: 500px;
        width: 950px;
        margin-left: 5px;
    }
    .sale-box2{
        height: 470px;
        width: 470px;
        margin-left: 10px;
    }
    .sale-box3{
        height: 470px;
        width: 470px;
        margin-left: 490px;
    }
    .sale-box4{
        height: 460px;
        width: 950px;
        margin-left: 5px;
    }
    .simbi-container{
        height: 600px;
    }
    .simbi-container h1{
        font-size: 40px;
        text-decoration: none;
        margin: 30px 0 0 250px;
        color: orange;
    }
    .simbi-container p{
        font-size: 25px;
        margin: 90px 0 0 100px;
        min-width: 700px;
    }
    .simbi-container a{
        font-size: 30px;
        margin: 520px 0 0 340px;
    }
    .testimonials{
        height: 450px;
    }
    .testimonials h2{
        font-size: 40px;
        min-width: 600px;
        margin-left: 200px;
    }
    .test-cr{
        margin: 130px 0 0 200px;
    }
    .cr1{
        height: 150px;
        width: 150px;
    }
    .cr2{
        height: 150px;
        width: 150px;
        margin-left: 40px;
    }
    .cr3{
        height: 150px;
        width: 150px;
        margin-left: 40px;
    }
    .test-cr p{
        margin: 170px 0 0 20px;
        font-size: 20px;
    }
    footer{
        height: 600px;
    }
    footer h1{
        font-size: 40px;
        margin-left: 450px;
        color: darkblue;
    }
    .footer-content{
        margin: 70px 0 0 300px;
    }
    .footer-content h2{
        font-size: 30px;
    }
    .footer-content a{
        font-size: 20px;
    }
    .footer-condition{
        margin: 70px 0 0 590px;
    }
    .footer-condition h2{
        font-size: 30px;
    }
    .footer-condition a{
        font-size: 20px;
    }
    footer h4{
        font-size: 25px;
        margin-top: 50px;
    }
    .icons{
        height: 300px;
        width: 200px;
        margin-top: 100px;
    }
    .contact{
        margin: 450px 0 0 20px;
    }
    .contact h3{
        font-size: 20px;
        margin-left: 30px;
    }
    .contact p{
        font-size: 30px;
    }
}